* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_section {
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
}

.main_content {
    flex: 1;
}

.mainimg {
    flex: 1;
    flex-grow: 0;
    flex-shrink: 0;
    width: 750px;
    height: 375px;
    align-self: center;
    margin-right: 200px;
    margin-top: 100px;
}

header {
    color: #F9FAF8;
    background: #1F2937;
}

.hero_text {
    margin: 100px 200px 20px;
    font-size: 72px;
    color: #F9FAF8;
}

.hero_secondary {
    margin-left: 200px; 
    margin-bottom: 20px;
    font-size: 27px;
    color: #E5E7EB;
    font-weight: 100;
}

.signup {
    margin: 10px 200px auto;
    background: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 6px;
    padding: 15px 21px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: flex-end;
}

.header_link {
    padding: 0 15px 15px;
    font-size: 18px;
    font-weight: 100;
    color: #E5E7EB;
}

.header_link_last {
    font-weight: 100;
    margin-right: 200px;
    font-size: 18px;
    color: #E5E7EB;
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    margin-left: 200px;
}